* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.correct {
  font-weight: bold;
  color: green;
  background-color: black;
}

.incorrect {
  font-weight: bold;
  color: red;
  background-color: black;
}

.active {
  font-weight: bold;
}

.header h1 {
  text-align: center;
  border: 1px solid black;
  background-color: #111111;
  color: aliceblue;
  margin-bottom: 40px;
  height: 50px;
}
.text p {
  margin-bottom: 40px;
  text-align: center;
}

.input-cls {
  text-align: center;
}
.input-cls input {
  width: 90%;
  height: 40px;
  font-size: large;
}

.help {
  margin-top: 50px;
  text-align: center;
}
